name: Test and Benchmark

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node: [1, 2, 3]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use bun
        uses: oven-sh/setup-bun@v1

      - name: Install dependencies
        run: bun i

      - name: Install bun-test-plan
        run: npm install -g @tscircuit/bun-test-plan

      - name: Generate test plans
        run: bun-test-plan

      - name: Run tests for node ${{ matrix.node }}
        run: |
          mapfile -t test_files < .bun-test-plan/testplans/testplan${{ matrix.node }}.txt
          bun test "${test_files[@]}" --timeout 60_000

      - name: Upload diff PNG artifacts
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: diff-png-artifacts-node${{ matrix.node }}
          path: |
            **/*.diff.png
